<link rel = "stylesheet" type = "text/css" href="12-column-grid-video1-after.css" />



<body>

<div class="container"><!--everything on the page-->





  <div class="row">

    <div class="row3" >

      <div class="six" style="background: url('Dolores_Hidalgo_night.jpg') no-repeat center center fixed;">

      </div><!--closing column 6-->


      <div class="three" style="background: url(Dolores_Hidalgo_night.jpg) no-repeat center center fixed;">

      </div><!--closing column 3-->



      <div class="three" style="background-color: transparent">
        <h2>Es necesario la siguiente imagen para ver la realidad aumentada</h2>
        <a type="button" href="marcador-64.png" target="_blank" value="Descargar Imagen" > Descargar Imagen</a>
<!--      <input type="button" value="Descargar Imagen" target="_blank" onclick="window.location.href='marcador-64.png'" >-->

        <a href="<%= artistas_path %>" class="glyphicon glyphicon-road" title="Mayor Informacion"> Mayor Informacion</a>

      </div><!--closing column 3-->

    </div>

  </div><!--closing row 3-->





  <div class="row">

    <div class="row4">



      <div class="three" style="background-color: transparent;">
        <a href="<%= nieves_path %>" class="glyphicon glyphicon-road" title="Lugar"> Mas Información</a>
      </div><!--closing column 3-->



      <div class="six" style="background: url('talavera.jpg') no-repeat center center fixed;">

      </div><!--closing column 6-->



      <div class="three" style="background: url('talavera.jpg') no-repeat center center fixed;">

      </div><!--closing column 3-->

    </div>

  </div><!--closing row 4-->



  <div class="row">

    <div class="row5">

      <div class="three" style="background-color: transparent">

        <a href="<%= dolores_path %>" class="glyphicon glyphicon-map-marker" title="Lugar"> Mas Información</a>
      </div><!--closing column 3-->



      <div class="three" style="background: url('talavera.jpg') no-repeat center center fixed;">

      </div><!--closing column 3-->



      <div class="three"  style="background: url(talavera.jpg) no-repeat center center fixed;">

      </div><!--closing column 3-->



      <div class="three" style="background-color: transparent" >

      </div><!--closing column 3-->

    </div>

  </div><!--closing row 5-->





  <div class="row">

    <div class="row6">

      <div class="three" style="background-color: transparent">

      </div><!--closing column 6-->



      <div class="six"  style="background: url('Parroquia.jpg') no-repeat center center fixed;">

      </div><!--closing column 3-->



      <div class="three" style="background-color: transparent">

        <a href="<%= talavera_path %>" class="glyphicon glyphicon-map-marker" title="Lugar"> Mas Información</a>
      </div><!--closing column 3-->

    </div>

  </div><!--closing row 6-->


</div><!--closing container div-->

