<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @ordenestado.nombre %>
</p>

<%= link_to 'Edit', edit_ordenestado_path(@ordenestado) %> |
<%= link_to 'Back', ordenestados_path %>
