<main>

  <section id="bienvenidos">
    <div class="contenedor">
      <h2>BIENVENIDOS AL HOTEL GALERIA</h2>
      Tenemos <%= pluralize(@total, "reservaciones de habitaciónes") %>.
    </div>
  </section>


</main>
