<link rel = "stylesheet" type = "text/css" href="12-column-grid-video1-after.css" />



<body>

<div class="container"><!--everything on the page-->





  <div class="row">

    <div class="row3" >

      <div class="six" style="background: url('dolores-hidalgo.jpg') no-repeat center center fixed;">

      </div><!--closing column 6-->


      <div class="three" style="background: url(dolores-hidalgo.jpg) no-repeat center center fixed;">

      </div><!--closing column 3-->



      <div class="three" style="background-color: transparent">
        <h2>Iglesia de los Dolores</h2>
        <h3>La iglesia dentro de la ciudad de dolores hidalgo</h3>
        <a href="<%= iglesia_path %>" class="glyphicon glyphicon-map-marker" title="Lugar"> Como llegar?</a>
      </div><!--closing column 3-->

    </div>

  </div><!--closing row 3-->





  <div class="row">

    <div class="row4">



      <div class="three" style="background-color: transparent;">
        <h2>Tumba de José Alfredo Jímenez</h2>
        <h3>Tumba del cantante mas famoso de Dolores Hidalgo</h3>
        <a href="<%= jose_path %>" class="glyphicon glyphicon-map-marker" title="Lugar"> Como llegar?</a>
      </div><!--closing column 3-->



      <div class="six" style="background: url('jose.jpg') no-repeat center center fixed;">

      </div><!--closing column 6-->



      <div class="three" style="background: url('jose.jpg') no-repeat center center fixed;">

      </div><!--closing column 3-->

    </div>

  </div><!--closing row 4-->



  <div class="row">

    <div class="row5">

      <div class="three" style="background-color: transparent">
        <h2>Casa de José Alfredo Jímenez</h2>
        <a href="<%= jose_path %>" class="glyphicon glyphicon-map-marker" title="Lugar"> Como llegar?</a>
      </div><!--closing column 3-->



      <div class="three" style="background: url('josecasa.jpg') no-repeat center center fixed;">

      </div><!--closing column 3-->



      <div class="three"  style="background: url(josecasa.jpg) no-repeat center center fixed;">

      </div><!--closing column 3-->



      <div class="three" style="background-color: transparent" >
        <h3>Casa del cantante, donde encontraras</h3>
        <h3>
          Videos,
          Trajes,
          Canciones,
          Imagenes
        </h3>
      </div><!--closing column 3-->

    </div>

  </div><!--closing row 5-->





  <div class="row">

    <div class="row6">

      <div class="three" style="background-color: transparent">
        <h2>Casá de Don Miguel Hidalgo</h2>
      </div><!--closing column 6-->



      <div class="six"  style="background: url('hidalgo.jpg') no-repeat center center fixed;">

      </div><!--closing column 3-->



      <div class="three" style="background-color: transparent">
        <h3>Casa del personaje mas Importante de la historia de México</h3>
        <a href="<%= hidalgo_path %>" class="glyphicon glyphicon-map-marker" title="Lugar"> Como llegar?</a>
      </div><!--closing column 3-->

    </div>

  </div><!--closing row 6-->


</div><!--closing container div-->

