
<section id="info">
  <h3>Ustedes son miembros de nuestra familia.</h3>
  <div class="contenedor">
    <div class="info-pet">
      <%= image_tag "/img/enter.jpg" %>
      <h4>Reserva con nosotros</h4>
    </div>
    <div class="info-pet">
      <%= image_tag "/img/red.jpg" %>
      <h4>Disfruta tu estadia</h4>
    </div>
    <div class="info-pet">
      <%= image_tag "/img/horse.jpg" %>
      <h4>Somos tu hotel</h4>
    </div>

  </div>
</section>
<footer>
  <div class="contenedor">
    <p class="copy">UTNG &copy; 2017</p>
  </div>
</footer>