<main>
  <section id="banner">
    <%= image_tag "/img/horse.jpg" %> <div class="contenedor">

      <p style="color: white">Los mejores Precios</p>
      <h1 class="titulo" style="color: white;">El refugio</h1>


    </div>
  </section>
  <section id="bienvenidos">
    <div class="contenedor">
      <h2>BIENVENIDOS AL HOTEL GALERIA</h2>
       </div>
  </section>
  <section id="blog">
    <h3>Nuestro Hotel</h3>
    <div class="contenedor">
      <article>
        <%= image_tag "/img/table.jpg" %>
        <h4>Escoge nuestra hospitalidad</h4>
      </article>
      <article>
        <%= image_tag "/img/secondfloor.jpg" %>
        <h4>Maravillate con nuestras Artesanias</h4>
      </article>
      <article>
        <%= image_tag "/img/refugio.jpg" %>
        <h4>Disfruta tu estadia</h4>
      </article>
    </div>
  </section>

</main>
