<style>
  .pano{
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
  height: 0;
    overflow: hidden;
  }
  .pano iframe {
    position: absolute;
    top: 0;
    left: auto;
    width: 100% !important;
    height: 100% !important;
  }

</style>
<div class="pano">
  <iframe src="/output/panoramica-2.html"  ></iframe>
</div>