<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="no.png" class="img-rounded">
      <div class="caption">
        <h3>Evite tirar la basura</h3>
        <p>Tire la basura dentro de los botes en su cuarto</p>
       </div>

    </div>

  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="golpear.jpg" >
      <div class="caption">
        <h3>No dañe a las instalaciones</h3>
        <p>Puede dañarse a usted</p>
      </div>

    </div>

  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="llaves-696x435.jpg" class="img-rounded">
      <div class="caption">
        <h3>Al momento de Salir</h3>
        <p>Es necesario Entregar las llaves</p>
      </div>

    </div>

  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="no alimentos.jpg" class="img-rounded">
      <div class="caption">
        <h3>Evite entrar con alimentos</h3>
      </div>

    </div>

  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="molestos.gif" >
      <div class="caption">
        <h3>Por favor no hagas ruido</h3>
        <p>No hagas que la demas gente se moleste</p>
      </div>

    </div>

  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="correr.jpg" class="img-rounded" style="border-color: #dd9d12">
      <div class="caption">
        <h3>No corras en los pasillos</h3>
        <p>Puedes dañarte a ti y a los demas</p>
      </div>

    </div>

  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="room_service_450.jpg" class="img-rounded">
      <div class="caption">
        <h3>EL cuarto a servicio estara</h3>
        <p>En todo el tiempo de su estadia</p>
      </div>

    </div>

  </div>


</div>