<style>
  .google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
  height: 0;
    overflow: hidden;
  }
  .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

</style>
<div class="google-maps">
  <iframe src="https://www.google.com/maps/embed?pb=!1m0!4v1497922012950!6m8!1m7!1sHXCM2nT_E6LirjbhEBoZ3Q!2m2!1d43.42086712279443!2d-5.621574960543398!3f170.2451986599867!4f0!5f0.7820865974627469" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>