<body >

<ul class="galeria">
  <img src="/img/oferta.png" height="50%", width="50%" >
  <img src="/img/room.jpg" height="500px", width="50%" >

  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <%= link_to 'Promociones',sendpros_path, :class=>'btn btn form-control' %>
    </div>

    <div class="btn-group" role="group">
      <%= link_to 'Cuarto',sends_path, :class=>'btn btn form-control' %>
    </div>
  </div>
</ul>
</body>